    .sidebar {
        width: 220px;
        height: 100vh;
        background-color: #2c2c2c;
        color: white;
        padding: 20px 15px;
    }

    .sidebar .search-box {
        background-color: #444;
        border: none;
        color: white;
        padding: 8px;
        width: 100%;
        outline: none;
    }
    
    .sidebar .search-box::placeholder {
        color: #ccc; 
    }
    
    .sidebar .search-box:focus {
        background-color: #444 !important;
        color: white !important;
        box-shadow: none;
        outline: none !important;
    }

    
    
    .sidebar .nav-link {
        color: white;
        padding: 10px 0;
        text-decoration: none;
        }

    .sidebar .nav-link:hover {
        background-color: #3a3a3a;
        border-radius: 4px;
        color: rgb(159, 159, 159);
        text-decoration: none;
    }

    .sidebar .logo {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .search-box {
        background-color: #444;
        border: none;
        color: white;
    }

    .search-box:focus {
        background-color: #444 !important;
        color: white;
        box-shadow: none;
    }