
.btn-color-inverted {
  background-color: #191b19;
  color: #f1f1f1;
}

.btn-color {
  background-color: #f1f1f1;
  color: #191b19;
}

.hero-container {
  width: 100%;
  height: 274px;
  flex-shrink: 0;
  background: #444644;
  padding: 48px;
  position: relative;

  color: var(--Gray-White, #fff);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .hero-container {
    height: 500px;
  }
}

.hero-container h1 {
  color: var(--Gray-White, #fff);
  font-family: "Rubik", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 99%;
}

.hero-container-info {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-self: flex-end;
  position: absolute;
  bottom: 48px;
  right: 48px;

  color: var(--Gray-White, #fff);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.hero-container-info-divider {
  width: 2px;
  height: 38px;
  background: #fff;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1; 
}

.footer-gap{
  gap: 400px;
}

.footer-bgcolor {
  background-color: #444644;
}